@import "mixins";
@import "buttons";

*:focus {
    outline: 1px solid crimson;
}

.options-list {
    &.primary {
        @include optionsList($lineHeight: 37px,
                             $width: 280px,
                             $max-width: unset,
                             $minWidth: unset);
    }
    &.basic {
        @include optionsList($lineHeight: 26px,
                            $width: unset,
                            $max-width: 390px,
                            $minWidth: 125px);
    }
}

.options-list-container {
    //scroll bar in webkit based browsers
    ::-webkit-scrollbar {
        width: 12px;
        height: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: $white;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-workspace;
        border-radius: 10px;
        border: 2.5px solid $white;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: $text-medium;
    }
}
