/* icons */
@font-face {
  font-family: 'ctIcon';
  src: url("../assets/fonts/ClicktalePlus.ttf");
  font-style: normal; }
/* icons */
@font-face {
  font-family: 'ctIconPlus';
  src: url("../assets/fonts/ClicktalePlus2.ttf");
  font-style: normal; }
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/open-sans-v15-latin-300.ttf"); }
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/open-sans-v15-latin-300italic.ttf"); }
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v15-latin-regular.ttf"); }
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v15-latin-italic.ttf"); }
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/open-sans-v15-latin-600.ttf"); }
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/open-sans-v15-latin-600italic.ttf"); }
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v15-latin-700.ttf"); }
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v15-latin-700italic.ttf"); }
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/open-sans-v15-latin-800italic.ttf"); }
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/open-sans-v15-latin-800.ttf"); }
body {
  padding: 50px; }

.some-class-1 {
  --dd-width: 180px; }

.some-class-2 {
  --dd-width: 300px; }

.some-class-3 {
  --dd-width: 220px; }

.options-list.primary {
  width: var(--dd-width, 280px);
  max-width: unset;
  min-width: unset;
  max-height: 392.2px;
  margin: 1px 0 0 0;
  padding: 2px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #D7DbE5;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto; }
  .options-list.primary .options-item {
    display: flex;
    height: 37px;
    line-height: 37px;
    justify-content: flex-start; }
  .options-list.primary .option {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: initial;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    display: inline-flex;
    text-align: left;
    font-size: 12px;
    color: #5F6981;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer; }
    .options-list.primary .option:focus {
      background-color: #f1f4f8;
      outline: none; }
    .options-list.primary .option:hover {
      background-color: #f1f4f8; }
    .options-list.primary .option.active {
      color: #303542;
      font-weight: 600; }
    .options-list.primary .option.disabled {
      opacity: 0.5;
      cursor: default; }
      .options-list.primary .option.disabled:hover {
        background-color: initial; }
    .options-list.primary .option-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-grow: 1; }
    .options-list.primary .option > *:not(.option-text) {
      flex: 0 0; }
    .options-list.primary .option > *:not(:last-child) {
      margin-right: 13px; }
    .options-list.primary .option.no-results:hover {
      background-color: initial;
      cursor: default; }
  .options-list.primary.long .option {
    padding-right: 5px; }
  .options-list.primary .option-icon:before {
    content: attr(data-icon);
    display: inline-block;
    font-family: 'ctIcon';
    font-weight: normal; }
  .options-list.primary .question {
    color: #CACDD1; }
    .options-list.primary .question:hover {
      color: #959FB2;
      cursor: pointer; }
.options-list.simple {
  width: var(--dd-width, unset);
  max-width: 390px;
  min-width: 125px;
  max-height: 275.6px;
  margin: 1px 0 0 0;
  padding: 2px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #D7DbE5;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto; }
  .options-list.simple .options-item {
    display: flex;
    height: 26px;
    line-height: 26px;
    justify-content: flex-start; }
  .options-list.simple .option {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: initial;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    display: inline-flex;
    text-align: left;
    font-size: 12px;
    color: #5F6981;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer; }
    .options-list.simple .option:focus {
      background-color: #f1f4f8;
      outline: none; }
    .options-list.simple .option:hover {
      background-color: #f1f4f8; }
    .options-list.simple .option.active {
      color: #303542;
      font-weight: 600; }
    .options-list.simple .option.disabled {
      opacity: 0.5;
      cursor: default; }
      .options-list.simple .option.disabled:hover {
        background-color: initial; }
    .options-list.simple .option-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-grow: 1; }
    .options-list.simple .option > *:not(.option-text) {
      flex: 0 0; }
    .options-list.simple .option > *:not(:last-child) {
      margin-right: 13px; }
    .options-list.simple .option.no-results:hover {
      background-color: initial;
      cursor: default; }
  .options-list.simple.long .option {
    padding-right: 5px; }
  .options-list.simple .option-icon:before {
    content: attr(data-icon);
    display: inline-block;
    font-family: 'ctIcon';
    font-weight: normal; }
  .options-list.simple .question {
    color: #CACDD1; }
    .options-list.simple .question:hover {
      color: #959FB2;
      cursor: pointer; }

.options-box.with-titles {
  padding: 0;
  border: 1px solid #D7DbE5;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }
  .options-box.with-titles .options-header {
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-left: 13px;
    margin-right: 17px;
    justify-content: space-between; }
    .options-box.with-titles .options-header-text {
      font-size: 10px;
      font-weight: 700; }
  .options-box.with-titles .options-search {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 5px;
    background-color: #f9f9f9;
    border: none;
    box-shadow: 1px 0 2px 0 #e4e5e8;
    position: relative; }
    .options-box.with-titles .options-search .options-search-icon:after {
      content: 'N';
      display: inline-block;
      font-family: 'ctIcon';
      font-size: 15px;
      font-weight: normal;
      color: #CACDD1;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 2px; }
    .options-box.with-titles .options-search .options-search-input {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-align: left;
      color: #5F6981;
      width: 100%;
      height: 31px;
      line-height: 31px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      background: #ffffff;
      border: 1px solid #D7DbE5;
      border-radius: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      transition: border 0.3s, box-shadow 0.3s;
      border-radius: 2px;
      padding-right: 30px; }
      .options-box.with-titles .options-search .options-search-input:disabled {
        color: #CACDD1;
        border: 1px solid #DDD6EF; }
      .options-box.with-titles .options-search .options-search-input:hover {
        border: 1px solid #b0bac5; }
      .options-box.with-titles .options-search .options-search-input:focus, .options-box.with-titles .options-search .options-search-input:active {
        border: 1px solid #8882d8;
        box-shadow: inset 0 0 0 3px rgba(136, 130, 216, 0.15); }
      .options-box.with-titles .options-search .options-search-input.ng-invalid.ng-touched {
        border: 1px solid #ea5454;
        transition: none; }
      .ct-form-has-error .options-box.with-titles .options-search .options-search-input.ng-invalid {
        border: 1px solid #ea5454;
        transition: none; }
      .options-box.with-titles .options-search .options-search-input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-style: normal; }
      .options-box.with-titles .options-search .options-search-input::-moz-placeholder {
        /* Firefox 19+ */
        font-style: normal; }
      .options-box.with-titles .options-search .options-search-input:-ms-input-placeholder {
        /* IE 10+ */
        font-style: normal; }
      .options-box.with-titles .options-search .options-search-input::placeholder {
        font-size: 13px;
        font-style: normal;
        color: #CACDD1; }
      .options-box.with-titles .options-search .options-search-input:focus {
        outline: none; }
      .options-box.with-titles .options-search .options-search-input:focus, .options-box.with-titles .options-search .options-search-input:active {
        border: 1px solid #b0bac5;
        box-shadow: none; }
        .options-box.with-titles .options-search .options-search-input:focus + .options-search-icon:after, .options-box.with-titles .options-search .options-search-input:active + .options-search-icon:after {
          content: 'U'; }
  .options-box.with-titles .options-list {
    margin-top: 0;
    padding-top: 0;
    border: none;
    box-shadow: none;
    position: static; }
    .options-box.with-titles .options-list .option {
      padding-right: 5px; }
  .options-box.with-titles .options-footer {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3px;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.21);
    justify-content: space-between;
    align-items: center; }
    .options-box.with-titles .options-footer .options-add {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.1px;
      color: #0099fa;
      width: fit-content;
      height: 22px;
      line-height: 22px;
      margin-right: 10px;
      padding-right: 10px;
      padding-left: 5px;
      background-color: #ffffff;
      border-radius: 30px;
      cursor: pointer; }
      .options-box.with-titles .options-footer .options-add .plus-circle {
        display: inline-block;
        text-align: center;
        width: 15px;
        height: 15px;
        line-height: 15px;
        margin-right: 5px;
        background-color: #E6F5FF;
        border-radius: 50%;
        vertical-align: text-bottom; }
      .options-box.with-titles .options-footer .options-add .iconFont.plus {
        font-family: 'ctIcon';
        display: inline-block;
        font-size: 8px;
        vertical-align: top; }
        .options-box.with-titles .options-footer .options-add .iconFont.plus:after {
          content: 'p'; }
.options-box.with-search {
  padding: 0;
  border: 1px solid #D7DbE5;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }
  .options-box.with-search .options-header {
    display: flex;
    height: 44px;
    line-height: 44px;
    margin-left: 13px;
    margin-right: 17px;
    justify-content: space-between; }
    .options-box.with-search .options-header-text {
      font-size: 10px;
      font-weight: 700; }
  .options-box.with-search .options-search {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0 5px;
    background-color: #f9f9f9;
    border: none;
    box-shadow: 1px 0 2px 0 #e4e5e8;
    position: relative; }
    .options-box.with-search .options-search .options-search-icon:after {
      content: 'N';
      display: inline-block;
      font-family: 'ctIcon';
      font-size: 15px;
      font-weight: normal;
      color: #CACDD1;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 2px; }
    .options-box.with-search .options-search .options-search-input {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-align: left;
      color: #5F6981;
      width: 100%;
      height: 31px;
      line-height: 31px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      background: #ffffff;
      border: 1px solid #D7DbE5;
      border-radius: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      transition: border 0.3s, box-shadow 0.3s;
      border-radius: 2px;
      padding-right: 30px; }
      .options-box.with-search .options-search .options-search-input:disabled {
        color: #CACDD1;
        border: 1px solid #DDD6EF; }
      .options-box.with-search .options-search .options-search-input:hover {
        border: 1px solid #b0bac5; }
      .options-box.with-search .options-search .options-search-input:focus, .options-box.with-search .options-search .options-search-input:active {
        border: 1px solid #8882d8;
        box-shadow: inset 0 0 0 3px rgba(136, 130, 216, 0.15); }
      .options-box.with-search .options-search .options-search-input.ng-invalid.ng-touched {
        border: 1px solid #ea5454;
        transition: none; }
      .ct-form-has-error .options-box.with-search .options-search .options-search-input.ng-invalid {
        border: 1px solid #ea5454;
        transition: none; }
      .options-box.with-search .options-search .options-search-input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-style: normal; }
      .options-box.with-search .options-search .options-search-input::-moz-placeholder {
        /* Firefox 19+ */
        font-style: normal; }
      .options-box.with-search .options-search .options-search-input:-ms-input-placeholder {
        /* IE 10+ */
        font-style: normal; }
      .options-box.with-search .options-search .options-search-input::placeholder {
        font-size: 13px;
        font-style: normal;
        color: #CACDD1; }
      .options-box.with-search .options-search .options-search-input:focus {
        outline: none; }
      .options-box.with-search .options-search .options-search-input:focus, .options-box.with-search .options-search .options-search-input:active {
        border: 1px solid #b0bac5;
        box-shadow: none; }
        .options-box.with-search .options-search .options-search-input:focus + .options-search-icon:after, .options-box.with-search .options-search .options-search-input:active + .options-search-icon:after {
          content: 'U'; }
  .options-box.with-search .options-list {
    margin-top: 0;
    padding-top: 0;
    border: none;
    box-shadow: none;
    position: static; }
    .options-box.with-search .options-list .option {
      padding-right: 5px; }
  .options-box.with-search .options-footer {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3px;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.21);
    justify-content: space-between;
    align-items: center; }
    .options-box.with-search .options-footer .options-add {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.1px;
      color: #0099fa;
      width: fit-content;
      height: 22px;
      line-height: 22px;
      margin-right: 10px;
      padding-right: 10px;
      padding-left: 5px;
      background-color: #ffffff;
      border-radius: 30px;
      cursor: pointer; }
      .options-box.with-search .options-footer .options-add .plus-circle {
        display: inline-block;
        text-align: center;
        width: 15px;
        height: 15px;
        line-height: 15px;
        margin-right: 5px;
        background-color: #E6F5FF;
        border-radius: 50%;
        vertical-align: text-bottom; }
      .options-box.with-search .options-footer .options-add .iconFont.plus {
        font-family: 'ctIcon';
        display: inline-block;
        font-size: 8px;
        vertical-align: top; }
        .options-box.with-search .options-footer .options-add .iconFont.plus:after {
          content: 'p'; }

.options-list-container ::-webkit-scrollbar {
  width: 12px;
  height: 10px; }
.options-list-container ::-webkit-scrollbar-track {
  background-color: #ffffff; }
.options-list-container ::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 10px;
  border: 2.5px solid #ffffff; }
.options-list-container ::-webkit-scrollbar-thumb:hover {
  background-color: #959FB2; }

.options-list-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: left;
  color: #5F6981;
  width: 100%;
  height: 31px;
  line-height: 31px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid #D7DbE5;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  display: flex;
  font-size: 13px;
  width: var(--dd-width, 220px);
  padding-right: 0;
  justify-content: space-between;
  align-items: center; }
  .options-list-btn:disabled {
    color: #CACDD1;
    border: 1px solid #DDD6EF; }
  .options-list-btn:hover {
    border: 1px solid #b0bac5; }
  .options-list-btn:focus, .options-list-btn:active {
    border: 1px solid #8882d8;
    box-shadow: inset 0 0 0 3px rgba(136, 130, 216, 0.15); }
  .options-list-btn.ng-invalid.ng-touched {
    border: 1px solid #ea5454;
    transition: none; }
  .ct-form-has-error .options-list-btn.ng-invalid {
    border: 1px solid #ea5454;
    transition: none; }
  .options-list-btn::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: normal; }
  .options-list-btn::-moz-placeholder {
    /* Firefox 19+ */
    font-style: normal; }
  .options-list-btn:-ms-input-placeholder {
    /* IE 10+ */
    font-style: normal; }
  .options-list-btn::placeholder {
    font-size: 13px;
    font-style: normal;
    color: #CACDD1; }
  .options-list-btn:focus {
    outline: none; }
  .options-list-btn .options-list-btn-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1; }
  .options-list-btn:after {
    content: '`';
    display: inline-block;
    text-align: center;
    font-family: 'ctIcon';
    font-size: 17px;
    color: #959FB2;
    width: 31px;
    height: 100%;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    border: none;
    border-left: 1px solid #D7DbE5;
    vertical-align: middle;
    flex-shrink: 0; }
  .options-list-btn:hover:after {
    color: #303542; }

.options-list-primary-btn {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: initial;
  background-image: none;
  box-shadow: none;
  text-shadow: none; }
  .options-list-primary-btn .options-list-btn-label {
    font-size: 12px;
    line-height: normal;
    color: #303542;
    border-bottom: thin solid transparent; }
    .options-list-primary-btn .options-list-btn-label:hover {
      border-color: #303542; }
  .options-list-primary-btn:after {
    content: '`';
    display: inline-block;
    text-align: center;
    font-family: 'ctIcon';
    font-size: 13px;
    color: #303542;
    height: 100%;
    margin-left: 0;
    border: none;
    vertical-align: middle; }

.loader {
  width: 100%;
  height: 100%;
  background: url("../assets/img/loader.svg") no-repeat center; }

.options-list.descriptive {
  width: 209px;
  height: auto;
  padding: 8px 0;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }
  .options-list.descriptive .options-item-description {
    padding: 10px 13px 0 13px; }
  .options-list.descriptive .options-item-description:not(:last-child) .option-description {
    padding-bottom: 10px;
    border-bottom: 1px solid #D7DbE5; }
  .options-list.descriptive .options-item-description:hover {
    background-color: #f1f4f8; }
  .options-list.descriptive .option-title {
    font-size: 12px;
    color: #000000;
    margin-bottom: 3px; }
  .options-list.descriptive .option-description {
    font-size: 10px;
    color: #959FB2; }

/*# sourceMappingURL=dropdown.css.map */
