@import "variables";
@import "colors";
@import "fonts";
@import "reset";

@mixin optionsList($lineHeight: 26px,
                $width: unset,
                $max-width: 390px,
                $minWidth: 125px) {
    width: $width;
    max-width: $max-width;
    min-width: $minWidth;
    max-height: $lineHeight * 10.6;
    margin: 0;
    padding: 2px 0 0 0;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $dd-border-radius;
    box-shadow: $box-shadow;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: auto;

    //li
    .options-item {
        display: flex;
        height: $lineHeight;
        line-height: $lineHeight;
        justify-content: flex-start;
    }

    //button
    .option {
        @include resetBtn;
        display: inline-flex;
        text-align: left;
        font-size: $font-size-xs;
        color: $text-dark;
        width: 100%;
        height: 100%;
        padding-top: 0;
        padding-right: 15px;
        padding-bottom: 0;
        padding-left: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        &:focus {
            background-color: $hover-bg !important;
            outline: 1px auto crimson;
        }
        &:hover {
            background-color: $hover-bg !important;
        }
        &.selected {
            color: $text-darkest;
            font-weight: 600;
        }
        &-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-grow: 1;
        }
        &>*:not(.option-text) {
            flex: 0 0;
        }
        &>*:not(:last-child) {
            margin-right: 13px;
        }
    }

    &.long .option {
        padding-right: 5px;
    }

    &.with-header .options-item:first-child {
        height: 15px;
        line-height: 15px;
        &:hover {
            background-color: $white;
            cursor: default;
        }
        span {
            font-size: $font-size-p;
            font-weight: 700;
            margin-left: -3px;
        }
    }

    //icon before text
    .option-icon:before {
        content: attr(data-icon);
        display: inline-block;
        font-family: 'ctIcon';
        font-weight: normal;
    }

    //icon before text
    .question {
        color: $text-light;
        &:hover {
            color: $text-medium;
            cursor: pointer;
        }
    }
}


@mixin dd-simple($max-width: 390px, $item-padding: 0 10px,
                $top: 21px, $left: -10px, $lineHeight: 26px, $minWidth: 125px) {
    font-size: $font-size-xs;
    color: $text-dark;
    margin: 0;

    .selected {
        font-weight: 600;
        cursor: pointer;
    }

    //ul
    .options-list {
        max-width: $max-width;
        min-width: $minWidth;
        max-height: $lineHeight * 10;
        margin: 0;
        padding: 0;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: $dd-border-radius;
        box-shadow: $box-shadow;
        list-style: none;
        position: absolute;
        top: $top;
        left: $left;
        z-index: 999;
        overflow-y: auto;
        &:before {
            content: none;
        }
    }

    //li
    .options-item {
        display: flex;
        text-align: left;
        font-size: $font-size-xs;
        height: $lineHeight;
        line-height: $lineHeight !important;
        padding: $item-padding;
        border: none !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        justify-content: flex-start;
        cursor: pointer;

        .content {
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .left-item {
            flex-grow: 1;
            margin-right: 10px;
        }

        .icons-wrap {
            display: flex;
            justify-content: flex-end;
            margin-left: 10px;
        }

        &.active {
            color: $text-darkest;
            font-weight: 600;
        }

        &:hover {
            color: inherit !important;
            background-color: $hover-bg !important;
        }
    }
}

//Used in Configuration windows
@mixin dd-table {
    padding: 0;
    border: none;

    @include dd-simple(unset, 0 10px, 2px, 0, 26px, 105px);

    .options-item-link {
        display: flex;
        color: inherit;
        width: 100%;
        text-decoration: none;
        justify-content: flex-start;
    }
}


//Used in Action Configuration window - Choose currency dropdown
@mixin ct-dropdown($width: 100%, $lineHeight: 31px, $fontSize: $font-size-ss, $arrowFont: 17px, $arrowWidth: 31px) {
    @include dd-simple;
    display: flex;
    font-size: $fontSize;
    color: $text-dark;
    width: $width;
    height: $lineHeight;
    line-height: $lineHeight;
    background-color: $white;
    justify-content: space-between;
    align-items: center;

    .ct-dropdown-title-container {
        width: 100%;
        padding-left: 10px;
        border: 1px solid;
        border-color: $border-color;
        border-radius: $input-border-radius;
    }

    .ct-dropdown-title {
        margin-right: 15px;
    }

    .ct-dropdown-btn-label,
    .ct-dropdown-title {
        flex-grow: 1;
    }

    .down-arrow, .purple-arrow {
        font-size: $arrowFont;
        text-align: center;
        color: $text-medium;
        width: $arrowWidth;
        height: 100%;
        background-image: $dd-button-gradient;
        border-left: 1px solid $border-color;
    }

    .down-arrow {
        border-radius: 0 $input-border-radius $input-border-radius 0;
    }
}

@mixin breadcrumb-header {
    font-size: $font-size-xp;
    line-height: $font-size-xp;
    color: $text-light;
    text-transform: uppercase;
    font-weight: 600;
    &:after {
        content: '';
        display: inline-block;
        line-height: $font-size-xp;
    }
}

@mixin breadcrumb-text {
    margin-top: 2px;
    font-size: $font-size-xs;
    line-height: $font-size-xs + 2;
    color: $text-darkest;
}

@mixin breadcrumb-secondary {
    font-size: $font-size-p;
    line-height: normal;
    margin-top: -2px;
    color: $text-dark;
    &:after, .text-ellipsis:after {
        content: '';
        display: inline-block;
        line-height: $font-size-p;
    }
}

@mixin addFilter {
    font-size: $font-size-xs;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: $system-regular;
    width: fit-content;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 5px;
    background-color: $white;
    border-radius: 30px;
    cursor: pointer;

    .plus-circle {
        display: inline-block;
        text-align: center;
        width: 15px;
        height: 15px;
        line-height: 15px;
        margin-right: 5px;
        background-color: $system-regular-bg;
        border-radius: 50%;
        vertical-align: text-bottom;
    }

    .iconFont.plus {
        font-size: 8px;
    }
}

@mixin activeBorder($width: 5px) {
    position: relative;
    &:hover {
        background-color: $white;
    }
    &:before {
        content: '';
        display: block;
        width: $width;
        height: 100%;
        background-color: $brand-primary;
        opacity: 0;
        position: absolute;
        top: 0;
        left: -1px;
    }
    &.active {
        background-color: $white;
        &:before {
            display: block;
            opacity: 1;
            transition: opacity 0.8s;
        }
    }
}

@mixin configurationTable($hover: true) {
    @include resetUl;
    .table-row {
        display: flex;
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid $border-color;
        flex-wrap: nowrap;
        &.selected {
            color: $text-darkest;
            font-weight: 600;
        }

        .suggestion-name-container{
            padding-right: 10px;
            padding-left: 20px;
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .suggestion-count-container {
            text-align: right;
            min-width: 205px;
            padding-right: 20px;
            padding-left: 10px;
        }

        @if $hover == true {
            &:hover {
                background-color: $hover-bg;
                cursor: pointer;
            }
        }
    }

    .table-header {
        font-weight: 600;
        background-color: $bg-dark;
    }
}

//used in StepController.scss for
//components: heatmap-button, pathfinder-button and dd-10 - Replays/Recordings button
@mixin stickyLink {
    .sticky-link-comp {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        .sticky-link-full-height {
            height: 100%;
        }
        .sticky-link-container {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            .sticky & {
                justify-content: center;
            }
        }
        .sticky-link-text {
            display: flex;
            color: $white;
            width: 100%;
            height: 25px;
            line-height: 25px;
            padding-right: 5px;
            padding-left: 5px;
            justify-content: space-between;
            .sticky & {
                justify-content: flex-start;
                padding-right: 0;
                padding-left: 0;
                cursor: pointer;
            }
        }

        .sticky-link-name {
            font-size: $font-size-xs;
            .sticky & {
                color: $text-dark;
            }
        }

        .icon-font {
            &:not(.down-arrow) {
                padding-right: 4px;
                display: none;
            }
            &.heatmapico {
                padding-right: 2px;
            }
            &.down-arrow {
                font-size: 16px;
                color: $white;
                padding-left: 2px;
            }
            .sticky & {
                display: inline;
                color: $text-dark;
            }
        }
    }
    .sticky &:hover .sticky-link-comp {
        .sticky-link-name,
        .icon-font {
            color: $text-darkest;
        }
    }
}

@mixin selectedNeutral($marginRight: 0) {
    display: inline-block;
    color: $white;
    max-width: 250px;
    height: 21px;
    line-height: 21px;
    margin-right: $marginRight;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $neutral-color;
    border-radius: 12px;
    vertical-align: middle;

    .selected-element {
        display: inline-block;
        max-width: 214px; //box width - closeX width - ellipsis width
        font-size: $font-size-xxs;
        vertical-align: top;
    }

    .closeX {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
    }
}

@mixin user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}